<%= simple_form_for(@ami) do |f| %>

         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">

           <%= f.input :nom %>
           <%= f.input :prenom %>
           <%= f.input :adresse %>
           <%= f.input :telephone %>
           <%= f.input :mail %>
           <br>
           <h3 class="red">Choisissez la formule de votre choix<h3>
           <%= f.select :category_id, Category.all.map {|c| [c.name, c.id]}%>
         </div>

         <div class="form-actions">
           <%= f.submit "Enregistrer", class: "btn btn-danger title-new" %>
         </div>
       <% end %>
